{% extends '_base.html' %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
    <h1> Home Page</h1>
    <br>
    <img class='bookcover' src="{% static 'images/books.jpeg' %}" alt="">
    {% if user.is_authenticated %}
        <br>
        hi {{ user.email }}
        <br>
        welcome {{ user.username }}
        <br>
        <a href="{% url 'account_logout' %}">Logout</a>

    {% else %}
        <h1>Please login into page</h1>
        <a href="{% url 'account_login'%}">Login </a>
        <br>
        <a href="{% url 'account_signup'%}">Signup </a>

    {% endif %}
{% endblock content %}



